<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Form</title>
    <style>
      body {
        background-image: url(https://images.unsplash.com/photo-1518655048521-f130df041f66?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
    <link rel="icon" href="/static/personal-information.png" />
  </head>
  <body>
    <div class="container">
      <h1 style="margin-top: 30px">Fill Your Details:</h1>
      <form action="/update" method="POST" enctype="multipart/form-data">
        <div id="personal">
          <h3 style="margin-top: 15px; margin-bottom: 15px">
            Personal Details:
          </h3>
          <div class="mb-3">
            <label for="exampleInputFirst_name" class="form-label"
              >First Name</label
            >
            <input
              type="text"
              name="First_name"
              class="form-control"
              id="exampleInputFirst_name"
              placeholder="Please Enter Your First Name"
              required
            />
          </div>

          <div class="mb-3">
            <label for="exampleInputLast_name" class="form-label"
              >Last Name</label
            >
            <input
              type="text"
              name="Last_name"
              class="form-control"
              id="exampleInputLast_name"
              placeholder="Please Enter Your Last Name"
              required
            />
          </div>

          <h6>Please Enter Your Profile Picture</h6>
          <div class="input-group mb-3">
            <input
              type="file"
              name="image"
              accept="image/*"
              class="form-control"
              id="inputGroupFile04"
              aria-describedby="inputGroupFileAddon04"
              aria-label="Upload"
              required
            />
          </div>

          <div class="mb-3">
            <label for="github" class="form-label"
              >Do you have GitHub account? (Optional)</label
            >
            <input
              type="text"
              name="github"
              class="form-control"
              id="exampleInputgithub"
              placeholder="Please Enter Your GitHub Account URL"
            />
          </div>

          <div class="mb-3">
            <label for="github" class="form-label"
              >Do you have Instagram account? (Optional)</label
            >
            <input
              type="text"
              name="instagram"
              class="form-control"
              id="exampleInputinstagram"
              placeholder="Please Enter Your Instagram Account URL"
            />
          </div>

          <button class="btn btn-light btn-outline-dark" onclick="tostep2()">
            Next
          </button>
        </div>

        <div id="education" style="display: none">
          <h3 style="margin-top: 15px; margin-bottom: 15px">
            Education Details:
          </h3>
          <div class="mb-3">
            <label for="exampleInputSchool_name" class="form-label"
              >School Name</label
            >
            <input
              type="text"
              name="School_name"
              class="form-control"
              id="exampleInputschool_name"
              placeholder="Please Enter Your School Name"
              required
            />
          </div>

          <div class="mb-3">
            <label for="exampleInputCollege_name" class="form-label"
              >College Name (Optional)</label
            >
            <input
              type="text"
              name="College_name"
              class="form-control"
              id="exampleInputCollege_name"
              placeholder="Please Enter Your College Name"
            />
          </div>

          <button
            class="btn btn-light btn-outline-dark"
            onclick="tobackstep1()"
          >
            Previous
          </button>
          <button class="btn btn-light btn-outline-dark" onclick="tostep3()">
            Next
          </button>
        </div>

        <div id="contact" style="display: none">
          <h3 style="margin-top: 15px; margin-bottom: 15px">
            Contact Details:
          </h3>
          <div class="mb-3">
            <label for="exampleInputPhone_number" class="form-label"
              >Mobile Number (Without Country Code)</label
            >
            <input
              type="number"
              name="Mobile_number"
              class="form-control"
              id="exampleInputMobile_Number"
              placeholder="Please Enter Your Mobile Number"
              required
            />
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              name="Email_address"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Please Enter Your Email Address"
              required
            />
          </div>

          <button
            class="btn btn-light btn-outline-dark"
            onclick="tobackstep2()"
          >
            Previous
          </button>
          <button class="btn btn-light btn-outline-dark" onclick="tostep4()">
            Next
          </button>
        </div>

        <div id="about" style="display: none">
          <h3 style="margin-top: 15px; margin-bottom: 15px">About Yourself:</h3>
          <h6>Please Enter Your Skills</h6>
          <div id="skills">
            <div class="input-group mb-3">
              <input
                type="text"
                name="skills[]"
                class="form-control"
                placeholder="Please Enter a Skill"
                required
              />
              <button
                type="button"
                class="btn btn-outline-secondary"
                onclick="addSkill()"
              >
                Add Another Skill
              </button>
            </div>
          </div>
          <h6>Please Enter About Yourself</h6>
          <div class="mb-3">
            <textarea
              name="about"
              class="form-control"
              id="about"
              placeholder="Please Enter About Yourself"
              required
            ></textarea>
          </div>

          <button
            class="btn btn-light btn-outline-dark"
            onclick="tobackstep3()"
          >
            Previous
          </button>

          <button type="submit" class="btn btn-primary btn-outline-dark">
            Submit
          </button>
        </div>
      </form>
    </div>

    <!-- Optional JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script>
      function addSkill() {
        var skillsDiv = document.getElementById("skills");
        var newSkillIndex = skillsDiv.children.length + 1;
        var newSkillDiv = document.createElement("div");
        newSkillDiv.className = "input-group mb-3";
        newSkillDiv.innerHTML = `
          <input type="text" class="form-control" name="skills[]" placeholder="Please Enter a Skill" required>`;
        skillsDiv.appendChild(newSkillDiv);
      }

      function tostep2() {
        document.getElementById("personal").style.display = "none";
        document.getElementById("education").style.display = "block";
      }
      function tostep3() {
        document.getElementById("education").style.display = "none";
        document.getElementById("contact").style.display = "block";
      }
      function tostep4() {
        document.getElementById("contact").style.display = "none";
        document.getElementById("about").style.display = "block";
      }
      function tobackstep1() {
        document.getElementById("personal").style.display = "block";
        document.getElementById("education").style.display = "none";
      }
      function tobackstep2() {
        document.getElementById("education").style.display = "block";
        document.getElementById("contact").style.display = "none";
      }
      function tobackstep3() {
        document.getElementById("contact").style.display = "block";
        document.getElementById("about").style.display = "none";
      }
    </script>
  </body>
</html>
